<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>NurGolds - Nur1Tech</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="NurGolds - Gold has always been a safe haven for investors, but it's always been subject to the whims of fiat currency. That's why our team has created NurGolds, a new cryptocurrency that allows you to save, use, and distribute gold. By using the full potential of blockchain technology, we've given gold a new value that makes it "invaluable."" />
  <meta name="keywords" content="nurgolds, goldcoin, Nur1Tech, marketing, blockchain" />
  <meta content="goldcoin" name="author" />
  <!-- favicon -->
  <link rel="shortcut icon" href="<%= process.env.REACT_APP_BASE_URL %>/images/favicon.ico">

  <!--Material Icon -->
  <link rel="stylesheet" type="text/css" href="<%= process.env.REACT_APP_BASE_URL %>/css/materialdesignicons.min.css" />

  <!-- Pixeden Icon -->
  <link rel="stylesheet" type="text/css" href="<%= process.env.REACT_APP_BASE_URL %>/css/pe-icon-7.css" />

  <!--Slider-->
  <link rel="stylesheet" href="<%= process.env.REACT_APP_BASE_URL %>/css/owl.carousel.css" />
  <link rel="stylesheet" href="<%= process.env.REACT_APP_BASE_URL %>/css/owl.theme.css" />
  <link rel="stylesheet" href="<%= process.env.REACT_APP_BASE_URL %>/css/owl.transitions.css" />

  <link href="<%= process.env.REACT_APP_BASE_URL %>/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="<%= process.env.REACT_APP_BASE_URL %>/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
  <link href="<%= process.env.REACT_APP_BASE_URL %>/css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>

  <script  src="<%= process.env.REACT_APP_BASE_URL %>/js/jquery.min.js"></script>
  <script src="<%= process.env.REACT_APP_BASE_URL %>/js/bootstrap.bundle.min.js"></script>
  <script src="<%= process.env.REACT_APP_BASE_URL %>/js/scrollspy.min.js"></script>
  <script src="<%= process.env.REACT_APP_BASE_URL %>/js/jquery.easing.min.js"></script>
  <script src="<%= process.env.REACT_APP_BASE_URL %>/js/anime.min.js"></script>

  <script src="<%= process.env.REACT_APP_BASE_URL %>/js/app.js"></script>
</body>

</html>